{% extends "layout.html" %}
{% block body %}
  {% set fname='img/'+post.imG_file %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename=fname)}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.TITLE}}</h1>
            <h2 class="subheading">{{post.tag_line}}</h2>

            <span class="meta">Posted by
              <a href="#">ADMIN</a>
              on {{post.DATE}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{post.CONTENT}}




          <p>Placeholder text by
            <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
        </div>
      </div>
    </div>
  </article>

  <hr>
{% endblock %}
